@import "styles/_mixings.scss";

.headerContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;

  h3 {
    @include xs {
      margin-left: 15px;
    }
    margin-left: 50px;
  }

  .icon {
    @include xs {
      margin-right: 15px;
    }
    cursor: pointer;
    font-size: 2rem;
    margin-right: 50px;
  }
}
