.container {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.container > img {
  width: 100px;
  margin-bottom: 80px;
}

.container > input[type='text'] {
  width: 250px;
  font-size: 1.2rem;
  box-sizing: border-box;
  margin: 8px 0;
  padding: 12px 20px;

  &:focus-visible {
    outline-width: 0;
  }
}

.container > button {
  transition: all ease 100ms;
  background-color: #303874;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 100;
  text-transform: uppercase;
  width: 250px;
  padding: 12px 20px;

  &:hover {
    background-color: #414878;
  }
}
